<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>
    Histoy
  </title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
  					</button> <a class="navbar-brand" href="/">Mountain & Comedy</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/history">Histoy</a>
              </li>
              <li>
                <a href="/calendar">Calendar</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/main">Private Area</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row Container">
          <p class="text-center lead">
            <img align=center src=/pictures/home/logo.jpg border=0 width=250%>
            <br><br>
            Welcome to the website of mountaineering "MOUNTAIN & COMEDY" group.
            Group formed in early 2014 and formalized as ad in 2017, Mountain & Comedy performed outputs mountain at all levels, both expeditions to the Himalayas, such as simple walks, only seek to enjoy.
            <br><br>

            Join us at any of our routes, and have fun with us.


          </p>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
              <h4> Map Web </h4>
              <ul>
                <li> <a href="/"> Home </a> </li>
                <li> <a href="/history"> History </a> </li>
                <li> <a href="/calendar"> Calendar </a> </li>
                <li> <a href="/main"> Users Area </a> </li>
              </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
              <h4> Follow Us </h4>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/mountainandcomedy/?fref=ts"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0 width="25" heigth "25"></a>
                </li>
                <br>
                <li>
                  <a href="https://twitter.com/mountain_comedy"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0 width="25" heigth "25"></a>
                </li>
                <br>
                <li>
                  <a href="https://www.instagram.com/mountainandcomedy/"><img src="https://purelifephotossblog.files.wordpress.com/2016/07/2016_instagram_logo.png" width="25" heigth "25"></a>
                </li>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
              <h4> Contact </h4>
              <ul>
                <li>
                  <div class="input-append newsletter-box text-center">
                    <input type="text" class="full text-center" placeholder="Email ">
                    <button class="btn  bg-gray" type="button"> Contact Us <i class="fa fa-long-arrow-right"> </i> </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--/.row-->
        </div>
        <!--/.container-->
      </div>
      <!--/.footer-->

      <div class="footer-bottom">
        <div class="container">
          <p class="pull-left"> Copyright © Mountain & Comedy web page 2017. All right reserved. </p>

        </div>
      </div>
      <!--/.footer-bottom-->
    </footer>
  </div>


</body>

</html>
