<ul>
  <%if(typeof(user)!=='undefined'){%>
    <li>
      <p>
        <%=user.name%>
      </p>
    </li>
    <li>
      <p>
        <%=user.username%>
      </p>
    </li>
    <li>
      <p>
        <%=user.lastName%>
      </p>
    </li>
    <li>
      <p>
        <%=user.email%>
      </p>
    </li>
    <%}%>
</ul>



<p class="main">
  <a href="/main">Home</a>
</p>
