<h1>MOSTRAR AQUI LAS RUTAS</h1>

<ul>
  <% if(routes.length){ %>
    <% routes.forEach((route)=>{ %>
          <li><a href="/routes/<%= route._id %>/show"><%= route.name %></a></li>
    <% })%>
  <% }%>
</ul>
